
@{
    ViewBag.Title = "Page4";
    Layout = null;
}

<h2>Choix d'attaque</h2>
<table id="tableCombat" class="table table-striped">
    
</table>


<hr />
<div class="offset-4" style="display: inline-grid;">
    <button style="margin-left: 38.195px;" value="Deconnexion de la matrice" id="etape4">Suivant</button>
</div>

